<div class="blog-detail-container">
  @if (isLoading) {
    <p>Loading Details...</p>
  } @else if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
    <button (click)="goToAllBlogs()">All Blogs</button>
  } @else if (blogEntry) {
    <div class="blog-detail-card">
      <h1>{{ blogEntry.title }}</h1>
      <p class="meta-info">from: {{ blogEntry.author }} | Published at: {{ blogEntry.publishDate | date:'mediumDate' }}</p>
      <div class="blog-content">
        <p>{{ blogEntry.content }}</p>
      </div>
      <p>Likes: {{ blogEntry.likes }}</p>
      <p>Created at: {{ blogEntry.createdAt | date:'short' }}</p>
    </div>
    <button (click)="goToAllBlogs()">All Blogs</button>
  } @else {
    <p>Could not load Details.</p>
    <button (click)="goToAllBlogs()">All Blogs</button>
  }
</div>